<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h5>Empresa la nueva</h5>
                </div>
            </div>    
        </div>
    </div>
</div>

<form action=""><h3>Datos de la empresa proveedora</h3>
  <div class="row g-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="NIT" aria-label="NIT">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
    </div>
  </div><br>

  <div class="col-md-12">
    <input type="text" class="form-control" placeholder="Representante" aria-label="Nombre representante">
  </div><br>

  <div class="col-md-12">
    <input type="text" class="form-control" placeholder="Dirección" aria-label="Dirección">
  </div><br>
  
  <div class="col">
      <input type="email" class="form-control" placeholder="Email" aria-label="Email">
  </div><br>

  <div class="row g-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Fax" aria-label="Fax">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Teléfono móvil" aria-label="Teléfono móvil">
    </div>
  </div><br>

  <div class="row g-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Sitio web" aria-label="Sitio web">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="NCR" aria-label="NCR">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Rubro" aria-label="Rubro">
    </div>
  </div><br>
  <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>--Seleccione el tipo de empresa</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  </div><br>
  
  <div class="col">
      <input type="file" class="form-control" placeholder="Logo de la empresa" aria-label="Logo">
  </div><br>

  <div class="col">
    <input type="file" class="form-control" placeholder="Ubicación geográfica" aria-label="Ubicación geográfica">
  </div><br>
  <div class="d-grid gap-2 d-md-block">
    <button type="button" class="btn btn-outline-primary" disabled="disabled">Guardar</button>
    <button type="button" class="btn btn-outline-primary">Establecimientos </button>
    <button type="button" class="btn btn-outline-danger">Cancelar</button>
  </div>
  
</form>

<!-- Modal
<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Datos de la empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div-->

